extends ../layouts/default.pug
block head
  title Home
block content  
  a(href="index.html") index 
  a(href="home.html") Home 
  h1 Welcome
  p This is the index.pug file compiled.
  p(class="font-bold text-center bg-red-500 text-blue text-9xl") สวัสดีครับ
