extends ../layout.pug
block head
  title Home
block content  
  a(href="index.html") index 
  a(href="home.html") Home 
  h1 Welcome
  p This is the index.pug file compiled.
  p(class="text-blue text-center font-bold text-9xl") สวัสดีครับ