extends ../layout.pug
block head
    title Hello World
block content  
    h1 Welcome
    p This is the index.pug file compiled.
    p bird bird ddd
    p bird bird ddd
    p bird bird ddd
    p bird bird ddd