extends ../layout.pug
block head
  title Hello World
block content  
  a(href="index.html") index 
  a(href="home.html") Home 
  h1 Welcome
  p This is the index.pug file compiled.
  p(class="text-red-500") bird bird gggg sss
  p(class="text-white text-center font-bold text-9xl") สวัสดีครับ
  p(class="text-red-500 text-center font-bold text-9xl") สวัสดีครับ