doctype html
html(lang="en")
  head
    block head             
    script(src='./assets/script.js')
    link(rel='stylesheet' href='./assets/css/styles.css')
    link(rel='stylesheet' href='./assets/style.css')
    meta(charset="utf-8")
    meta(content="width=device-width" initial-scale="1.0" name="viewport")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color")
  body
    #main
      block content